body {
  font-family: Geneva, Tahoma, Verdana, sans-serif; }

/**
 *  MIXIN: bp
 *
 *  Accepts a list of breakpoint values and outputs media queries
 *
 *  Breakpoint values are preceeded by a '+' or '-', denoting whether the query should target widths above or below that value
 *  Breakpoint vaules can be a key representing a width defined in $breakpoints, e.g.:  @include bp( -xl ) ...
 * 											  OR a non-unitless number, e.g.:  @include bp( +20em ) ...
 *  Multiple values can be used to create ranges, e.g.:  @include bp( +s, -m ) ...
 *
 *  NOTE: To avoid breakpoint overlap, min-width breakpoint values are treated as inclusive, while max-width values are not (a tiny bit is subtracted)
 * 			 For example, if you wrote:  @include bp( -768px, -20em ) ...
 * 			    The query would become:  (max-width: 767px) and (max-width: 19.9999em) ...
 *  NOTE: Relies on the custom list slice function
 */
a {
  text-decoration: none !important;
  cursor: pointer; }

body {
  overflow-x: hidden; }
  body.no-scroll {
    overflow: hidden; }

a {
  color: #6D95FC; }
  a:hover {
    color: #9fb9fd; }

body {
  width: 400px;
  margin: 0; }

h1 {
  margin-bottom: 0;
  font-size: 19px; }

.form-group {
  padding: 10px 0; }

.form-group:not(:last-child) {
  border-bottom: 1px solid #efefef; }

#options {
  display: block;
  padding: 5px 20px 30px;
  border-top: 2px solid #59e2bf; }

#options label {
  display: block;
  padding: 5px 0;
  font-size: 14px; }
  #options label input[type='checkbox'], #options label input[type='radio'] {
    margin-right: 0.5em;
    margin-bottom: 1em;
    float: left;
    top: 0.1em;
    background: #fff;
    border: 2px solid #444;
    width: 15px;
    height: 15px; }
    #options label input[type='checkbox']::before, #options label input[type='radio']::before {
      background: #59e2bf; }

#options input[type='radio'] {
  position: relative;
  top: -1px;
  margin-right: 6px; }

#links {
  padding: 5px 20px 3px;
  margin-left: -6px;
  background: #444;
  text-align: center; }

#links a, #links a:visited {
  display: inline-block;
  padding: 0 0.4em;
  position: relative;
  font-size: 20px;
  text-decoration: none;
  color: #efefef;
  opacity: 0.5;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); }

#links a label {
  padding: 0.5em;
  opacity: 0;
  position: absolute;
  left: -5em;
  right: -5em;
  bottom: 35px;
  z-index: -1;
  color: #444;
  font-size: 12px;
  text-shadow: none;
  transform: scale(0.5);
  pointer-events: none;
  transition: all 0.2s ease-in-out; }

#links a:hover {
  opacity: 1; }
  #links a:hover label {
    z-index: 1;
    opacity: 1;
    transform: scale(1); }

#links i[class*='coffee'] {
  font-size: 1.2em; }
