@mixin transition($prop-keys...) {
	@if length($prop-keys) > 0 {
		@each $pk in $prop-keys {
			@if length($pk) == 1 {
			  transition-property: all;
				@extend %transition-#{ $pk };
			}
			@else if length($pk) == 2 {
				transition-property: nth($pk, 1);
				@extend %transition-#{ nth($pk, 2) };
			}
		}
	}
	@else {
		transition-property: all;
		@extend %transition-default;
	}
}

@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }

  .animated.#{$animation-name} {
  	animation-name: $animation-name;
  	-webkit-animation-name: $animation-name;
  }
}