$colors: (
	primary: #59e2bf,
	secondary: #6D95FC,
	light: #fff,
	dark: #29345C,
	heading: #29345C,
	content: #29345C,
) !global;

// $fonts: (
// 	heading: 'Lato, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif',
// 	body: 'Lato, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif'
// ) !global;

@import 'base';


// #options
body {
	width: 400px;
  margin: 0;
}

h1 {
	margin-bottom: 0;
  font-size: 19px;
}

.form-group {
  padding: 10px 0;
}

.form-group:not(:last-child) {
  border-bottom: 1px solid #efefef;
}

#options {
  display: block;
  padding: 5px 20px 30px;
  border-top: 2px solid color(primary);
}

#options label {
  display: block;
  padding: 5px 0;
  font-size: 14px;

  input[type='checkbox'], input[type='radio'] {
  	margin: {
  		right: 0.5em;
  		bottom: 1em;
  	}
  	float: left;
	  top: 0.1em;
	  background: #fff;
	  border: 2px solid #444;
	  width: 15px;
	  height: 15px;

	  &::before {
	  	background: color(primary);
	  }
  }
}

#options input[type='radio'] {
  position: relative;
  top: -1px;
  margin-right: 6px;
}

#links {
  padding: 5px 20px 3px;
  margin-left: -6px;
  background: #444;
  text-align: center;
}

#links a, #links a:visited {
  display: inline-block;
  padding: 0 0.4em;
  position: relative;
  font-size: 20px;
  text-decoration: none;
  color: #efefef;
  opacity: 0.5;
  text-shadow: 0 2px 5px transparentize(#000, 0.5);
}

#links a label {
	padding: 0.5em;
  opacity: 0;
  @include pos(absolute, $bottom: 35px, $left: -5em, $right: -5em);
  z-index: -1;
  color: #444;
  font-size: 12px;
  text-shadow: none;
  transform: scale(0.5);
  pointer-events: none;
  transition: all 0.2s ease-in-out;
}

#links a:hover {
	opacity: 1;

  label {
  	z-index: 1;
  	opacity: 1;
  	transform: scale(1);
  }
}

#links i[class*='coffee'] {
  font-size: 1.2em;
}
